
/simul/target
/simul/.settings
/simul/.project
/simul/.classpath
/simul-parent/.classpath
/simul-parent/.project
/simul-parent/.settings
/straightedge/.settings
/straightedge/target
/straightedge/.classpath
/straightedge/.project
/pathfinder/target
/pathfinder/.settings